
@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

nav {
    background-color: rgb(36, 36, 39);
    position: sticky;
    top: 0;
    z-index: 1;
}

#nav-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    padding: 1.2rem 6rem;
    color: white;
    
}

#nav-container li {
    list-style: none;
}

#nav-container a {
    text-decoration: none;
    color: white;
}

#navegacao ul{
    display: flex;
    
}

#login ul{
    display: flex;
}

.nav-item  {
    margin: 0 15px;
}

#icone-mobile {
    display: none;
}

#menu-mobile {
    display: none;

}

@media screen and (max-width: 800px) {
    #nav-container{
        padding: 1.5rem 4rem;
    }

    .nav-item {
        display: none;
    }

    #login{
        display: none;
    }

    #icone-mobile {
        display: block;
    }

    #icone-mobile button{
        background-color: transparent;
        border: none;
        color: white;
        font-size: 2em;
        cursor: pointer;
    }

    #menu-mobile {
        display: none;
        position: absolute;
        flex-direction: column;
        text-align: center;
        width: 100%;
        padding-bottom: 1rem;
        background-color: rgb(36, 36, 39);
    }

    #menu-mobile .nav-item {
        display: block;
        padding-top: 2rem;
    }
}



